<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam sequi veritatis asperiores omnis amet sunt optio repellat veniam natus earum similique maxime, voluptatem distinctio accusantium reprehenderit, fugit eaque, saepe a. Lorem ipsum dolor sit,
    amet consectetur adipisicing elit. Aspernatur architecto quisquam labore nostrum suscipit. Ducimus aliquid delectus molestiae maiores aliquam sint odio libero at dolor nostrum. Sed id cupiditate dignissimos!
</p>